
<div id="<%= dom_id team%>" class="membres">


    <p class="image_team">
      <img src="<%= team.image %>" alt="">
      <div class="back"></div>
    </p>


  <div class="team_name">

    <p>
      <%= team.name %>
    </p>

    <p>

      <%= team.first_name %>
    </p>

  </div>

  <p>
    <%= team.role %>
  </p>

</div>
