<script>
AOS.init();
</script>
<header class="secondary_header">

  <a href="/resumes">Accueil</a>
  <h1>Commités</h1>
  <%= image_tag("logo.webp", class: "logo_header_sec", alt: "Logo of LHMUN") %>

</header>

<section class="commites">


  <h2>SCS (SC)</h2>

  <div class="content_commit">

    <div class="gauche">

      <p>

        The South China Sea is one of the world’s most important waterways being crucial for
        shipping and natural resources. Given its economic potential, all of the nations that
        border the South China Sea have have made competing claims to territories within the South
        China Sea. For example, the Spratly islands are claimed by China, Taiwan, Vietnam, Brunei,
        Malaysia, and the Philippines. All countries except Brunei occupy at least one of the Spratly
        Islands with military forces.

        The crisis begins on June 12th, 2024, the independence day of the Philippines. There are scattered
        reports coming out of Manila of Filipino fishermen going out to sea near the Spratly Islands and never
        returning. The same day, a planned visit to Taipei by a bipartisan delegation of US senators is met by yet
        another airspace incursion by Chinese fighter jets.

      </p>

    </div>

  <div class="droite">

  <%= image_tag("South China Sea.webp",class: "image_comits" , alt: "Logo of the South China Sea") %>

  </div>

  </div>




  <h2>Crise de l'énergie (AG)</h2>

  <div class="content_commit">

  <div class="gauche">

  <p>

  Alors que la guerre en Ukraine continue de faire rage, la flambée des prix de l'énergie alimente une crise
  mondiale du coût de la vie, qui touche en particulier les pays à bas revenus, selon le Groupe de Réponse aux
  Crises Globales sur l'alimentation, l'énergie et les finances du Secrétariat Général de l'ONU.

  C'est pourtant aussi un moment de profits records pour les grandes compagnies pétrolières et gazières et certains
  pays producteurs, ce qui alimente les tensions.

  En tant qu'un des six organes principaux de l'ONU, servant de principal organe délibérant, politique et
  représentatif, l'Assemblée Générale a été chargée de trouver des solutions pour faire face à la crise énergétique
  mondiale.

  </p>

  </div>

  <div class="droite">

  <%= image_tag("Assemblée Générale.webp",class: "image_comits" , alt: "Logo of the General Assembly") %>

  </div>

  </div>




  <h2>Crise de Suez (CS)</h2>

  <div class="content_commit">

  <div class="gauche">

  <p>

  Le 26 juillet 1956, le président égyptien Gamal Abdel Nasser annonce la nationalisation du canal de Suez,
  rompant le traité anglo-égyptien de 1936.

  Londres, Paris et Tel-Aviv planifient alors en secret une occupation israélienne
  du Sinaï, qui serait suivie d'une intervention franco-britannique pour "rétablir l'ordre"

  Pourtant, à la surprise des Britanniques et des Français, le lancement de l'opération
  le 29 octobre 1956 suscite une réaction hostile de la part des Soviétiques, des États-Unis, des Nations
  unies et de nombreux membres de l'OTAN.

  Cette date marquera naturellement le début de notre comité de crise, au cours de laquelle
  les membres du Conseil de Sécurité devront empêcher le conflit de s'étendre... ou protéger leurs intérêts propres

  </p>

  </div>

  <div class="droite">

  <%= image_tag("Crise de Suez.webp",class: "image_comits" ,  alt: "Logo of the Crise of Suez") %>

  </div>

  </div>



  <h2>UNCTAD (english beginner)</h2>

  <div class="content_commit">

  <div class="gauche">

  <p>

  The Arctic is undergoing extraordinary environmental and developmental changes. Access to the
  Arctic Ocean is changing quickly as sea ice melts – enabling longer seasons of ship navigation as
  well as new access and the potential of resource extraction for previously difficult to reach regions.

  The increased economic importance of the new Arctic Frontier presents a whole host of opportunities,
  risks, and challenges for all countries, even those outside the arctic circle.

  The United Nations Conference on Trade and Development (UNCTAD) is an intergovernmental organization
  within the United Nations Secretariat that promotes the interests of developing countries in world trade.
  It was established in 1964 by the United Nations General Assembly (UNGA) and reports to that body and the
  United Nations Economic and Social Council (ECOSOC).

  </p>

  </div>

  <div class="droite">

  <%= image_tag("Artic Council.webp",class: "image_comits" , alt: "Logo of the Artic Council") %>

  </div>

  </div>

</section>

<footer>
<div class="footer_nav">
  <a href="">Retour en Haut</a>
  <a href="/resumes#conferences">Participer</a>
  <a href="/resumes">Accueil</a>
</div>

<%= image_tag("logo.webp", class: "logo_footer", alt: "Logo of LHMUN") %>
</footer>
