
<script>
AOS.init();
</script>
<%= javascript_include_tag 'traduction' %>
<header>

  <div class="top" data-aos="fade-down">

    <h1>Le Havre Model UN</h1>
  </div>

  <div class="logo" data-aos="fade-up">

    <%= image_tag("logo.webp", class: "logo_header", alt: "Logo of a MUN") %>

  </div>
  <div class="nav_header" >
    <a href="/teams">L'équipe</a>
    <button class="participate_header" onclick="window.location.href='#conferences';">
      <a href="#conferences">Participer</a>
    </button>
    <a href="/commits">Comités</a>

  </div>


    <a class="arrow" href="#intro"><%= image_tag("arrow.svg", alt: "Arrow") %></a>

</header>



<section class="intro_MUN" id="intro">



  <h2>Qu'est ce qu'un MUN ?</h2>

  <div class="text_image">
    <div class="left" data-aos="fade-right">
      <p>
        MUN veut dire "Model United Nations" en anglais, ou Simul'ONU selon
        la traduction francophone officielle. Un "MUN", c'est une simulation
        des Nations Unies dans laquelle les participants endossent le rôle de
        délégués représentant différents pays membres de l'ONU ou des organisations i
        nternationales. Ces délégués se réunissent pour discuter et débattre autour
        d'enjeux mondiaux brûlants, en utilisant les mêmes procédures et protocoles
        que les vraies Nations Unies. Un "MUN", c'est donc une plateforme immersive
        pour développer des compétences cruciales telles que la prise de parole en
        public, la négociation, la recherche, et la résolution de conflits ; c'est aussi,
        et peut-être surtout, l'occasion de s'amuser.
      </p>
      <button class="mun_button" onclick="window.location.href='#conferences';">
          <a href="#conferences">Voir la conférence</a>
      </button>
    </div>

    <div class="right" data-aos="fade-left">
      <%= image_tag("Team.webp", alt: "The MUN TEAM") %>
      <p>L'équipe Le Havre MUN</p>
    </div>
  </div>



</div>



  <p style="color: red"><%= notice %></p>

</section >



<section class="confs" id="conferences" >


    <div class="left_confs" >
      <h3>Prochaine conférence</h3>

      <p>
        Assistez à la conférence et prenez part au débat en intégrant
        différents <a href="/commits">comités</a>. Ces conférences sont un moment de fun et d’amusement.
      </p>
      <div id="conferencese">
      <% @conferences.each do |conference| %>

        <%= render conference %>
      <% end %>
    </div>


    </div>
    <%= image_tag("introimg.webp", class: "image_confs", alt: "Image of the catène of conteneur in the Havre") %>
</section>

<section class="participation" id="how_to">
  <h2>Comment participer</h2>

  <div class="hello">

    <div class="round_left" data-aos="fade-right">

      <%= image_tag("logo_helloasso.webp", alt: "Logo of Helloasso") %>



    </div>

    <div class="round_right" data-aos="fade-left">
      <p>

          Inscrivez-vous via Hello Asso ! Notre équipe vous assignera ensuite selon vos préférences un pays, et un comité.
          Rien de plus simple, c'est sécurisé, rapide et efficace, il vous suffis seulement de renseigner les informations
          requises sur le site d'hello asso, et on s'occupe de tout.


      </p>
      <button class="participate_button" onclick="window.location.href='#conferences';">
        <a href="#conferences">Participer</a>
      </button>

    </div>



  </div>




</section>

<section class="participation" id="how_to">
  <h2>Notre partenaire</h2>

  <div class="partner">



    <div class="round_right" data-aos="fade-left">
      <p>

      Nous sommes heureux de vous annoncer notre partenariat avec le CROUS pour
      l'année 2024, ce dernier nous permettra d'organiser au mieux les MUN et
      de vous permettre de participer dans le meilleur des conforts.



      </p>


    </div>

    <div class="crous" data-aos="fade-right">

    <%= image_tag("crous.webp", alt: "Logo of the CROUS") %>



  </div>



  </div>




</section>

<footer>
<div class="footer_nav">
  <a href="">Retour en Haut</a>
  <a href="#conferences">Participer</a>
  <a href="/mentions_legales">Mentions légales</a>
</div>

<%= image_tag("logo.webp", class: "logo_footer", alt: "Description de l'image") %>
</footer>
