
<script>
AOS.init();
</script>
<header class="secondary_header">

  <a href="/resumes">Accueil</a>
  <h1><%= @resume.title %></h1>
  <%= image_tag("logo.png", class: "logo_header_sec", alt: "Description de l'image") %>

</header>







<p style="color: green"><%= notice %></p>


<%= @resume.title %>











<footer>
  <div class="footer_nav">
    <a href="">Retour en Haut</a>
    <a href="#conferences">Participer</a>
    <a href="/mentions_legales">Mentions légales</a>
  </div>

  <%= image_tag("logo.png", class: "logo_footer", alt: "Logo of Le Havre MUN") %>
</footer>
