<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Lhmun</title>
    <meta name="description" content="Un "MUN", c'est une plateforme immersive
    pour développer des compétences cruciales telles que la prise de parole
    en public, la négociation, la recherche, et la résolution de conflits ;
    c'est aussi, et peut-être surtout, l'occasion de s'amuser." />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
