<div id="<%= dom_id resumesec %>">
  <p>
    <strong>Title:</strong>
    <%= resumesec.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resumesec.description %>
  </p>

  <p>
    <strong>Paragraphe1:</strong>
    <%= resumesec.paragraphe1 %>
  </p>

  <p>
    <strong>Paragraphe2:</strong>
    <%= resumesec.paragraphe2 %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= resumesec.image %>
  </p>

</div>
