<p style="color: green"><%= notice %></p>

<%= render @resumesec %>

<div>
  <%= link_to "Edit this resumesec", edit_resumesec_path(@resumesec) %> |
  <%= link_to "Back to resumesecs", resumesecs_path %>

  <%= button_to "Destroy this resumesec", @resumesec, method: :delete %>
</div>
